* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  display: flex;
  margin-right: 5%;
}
a {
  text-decoration: none;
}
a:link {
  color: #097d4c;
}
a:visited {
  color: #097d4c;
}
a:hover {
  color: #097d4c;
}
a:active {
  color: #097d4c;
}
li {
  margin-left: 10px;
  margin-right: 10px;
}
.middletitle {
  display: flex;
  text-align: center;
  font-size: 75px;
  font-family: "Knewave", system-ui;
  color: #097d4c;
}
.box1 {
  background-color: #f1ead1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.imgdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 999;
  margin-bottom: -15rem;
}

.downborders {
  height: 20rem;
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: flex-end;
  /* bottom: 0; */
}
.downborder {
  height: 13%;
  background-color: #097d4c;
  background-image: repeating-conic-gradient(#f1ead1 0% 25%, #097d4c 0% 50%);
  /* background-position: 0 0; */
  background-size: 40px 40px;
}
.downborder2 {
  height: 90%;
  background-color: #097d4c;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 5%;
  font-family: "Knewave", system-ui;
}

.Logo {
  background-color: #097d4c;
  margin-left: 5%;
  color: aliceblue;
}
.box2 {
  background-color: #097d4c;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.boxwraper2 {
  display: flex;
  width: 100%;
  margin-top: 5%;
}
.blankbox {
  width: 33%;
}
.subtitles {
  font-family: "Lexend Exa", sans-serif;
  text-align: left;
  padding-left: 5%;
  color: #f1ead1;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 33%;
}
.imgright2 {
  border-radius: 8px;
  justify-content: space-between;
  background-size: cover;
  width: 33%;
}

.imgright2 > img {
  border-radius: 25px;
  width: 70%;
  height: 70%;
}

.box3 {
  background-color: #f1ead1;
  height: 101vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.upmiddletitle {
  display: flex;
  justify-content: center;
  color: #097d4c;
  font-family: "Knewave", system-ui;
  font-size: 35px;
}
.imgmiddle3 {
  border-radius: 8px;
}
.imgmiddle3 > img {
  border-radius: 25px;
  width: 700px;
  height: 700px;
}
.textbox {
  margin-top: -3%;
}
.imgmiddle4 > img {
  width: 250px;
  height: 175px;
  transform: rotate(-12deg);
}
.skibidi {
  z-index: 99999;
  position: sticky;
  transform: rotate(-12deg);
  font-family: "Lexend Exa", sans-serif;
  margin-top: -4.5%;
  font-size: 25px;
  color: #f1ead1;
}
.boxforimg3 {
  display: flex;
  flex-direction: column;
}
.box4 {
  background-color: #004ead;
  height: 101vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.charleft4 {
  margin-left: 5%;
  margin-top: 2%;
}
.charleft4 > img {
  height: 600px;
  width: 450px;
  margin-bottom: 20%;
}
.rightuptitle {
  color: #f1ead1;
  font-family: "Knewave", system-ui;
  font-size: 50px;
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  margin-top: -100%;
  margin-right: 50%;
}
.navigation2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  margin-left: 10%;
  margin-top: -30%;
}
.navigation3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rightmenu1 {
  color: #f1ead1;
  font-family: "Lexend Exa", sans-serif;
  font-size: 25px;
}
.leftmenu2 {
  color: #f1ead1;
  font-family: "Lexend Exa", sans-serif;
  font-size: 25px;
}
.leftmenu1 {
  color: #f1ead1;
  font-family: "Lexend Exa", sans-serif;
  font-size: 25px;
}
.box5 {
  background-color: #f1ead1;
  height: 100vh;
}
